CompileFlags:
  Compiler: C:/Users/86189/AppData/Local/Microsoft/WinGet/Packages/BrechtSanders.WinLibs.POSIX.UCRT_Microsoft.Winget.Source_8wekyb3d8bbwe/mingw64/bin/g++.exe
  Add:
    - --target=x86_64-w64-mingw32
    - -std=gnu++17

Diagnostics:
  UnusedIncludes: None
